numpy==1.19.5
numba==0.53
pyworld==0.3.0
scipy==1.10.1
SoundFile==0.12.1
glob2==0.7
tqdm==4.62.3
librosa==0.8.1
numpy==1.21.6
scipy==1.7.2
tensorboard==2.7.0
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
webrtcvad==2.0.10
fairseq==0.12.2